<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<div>
    <% @album.pictures.each do |picture| %>
      <%= image_tag picture.variant(resize_to_limit: [400, 400]), class: "py-4 border-b" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
